/* CSS Document */

body {
	
	
}



#Page_Top {
	width:100%;
	
	
	
	
}

#Page_Middle {
	
	width:960px;
	min-height:600px;
	margin-top:30px;
	
	
	
}

#Page_Bottom {
	
	background-color:#6699FF;
	height:300px;
	color:#FFFFFF;
	padding-top:10px;
	
}