/* CSS Document */



#respuesta {
	background-color:#FFCC00;
	color:#000;
	padding:10px;
	text-align:center;
	margin-bottom:10px;	
	
	
}



a.topnav  {
	
	
	
}

a.actual  {
	border-bottom-color:#039;
	border-bottom-style:solid;
	border-bottom-width:2px;
	
	
	
}
